@model IEnumerable<DataDrivenViewEngine.Models.Core.DataForm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th style="padding: 5px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="padding: 5px">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="padding: 5px">
            @Html.DisplayNameFor(model => model.Template)
        </th>
        <th style="padding: 5px">
            @Html.DisplayNameFor(model => model.SubmitUrl)
        </th>
        <th style="padding: 5px">
            @Html.DisplayNameFor(model => model.SubmitName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Template)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
